@(category: model.CategoryModel)
@import java.lang.String; var name = "";
	@if(category != null){
		@{name = category.getName()}
	}else{
		@{name = "Usr not found!"}
	}
	@index("Category " + name) {
		@if(category != null){
		<h4> @category.getName() </h4>
		<hr/>
		<img src="http://placehold.it/140x140&text=@category.getName()" class="img-circle" style="float: right;"/>			
			@for(product <- category.products){
				<a href="@routes.Product.showProductById(product.getId())"><img src="@product.getImgUrl()" class="img-circle productImgSmall"/>&nbsp;&nbsp;
					@product.getName()
				</a>
				<hr/>
			}
		}else{
			category not found!
		}
	}