@(title: String)(content: Html)
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="@routes.Assets.at("main.min.css")">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<title>Webshop - @title</title>
	</head>
	<body style="padding: 20px;">
					<h2>Welcome!</h2>
					<div style="float: left;">
						<small>
						<a href="@routes.Product.editProduct">Product edit</a></br>
						<a href="@routes.Product.showAllProducts">Product show all</a></br>
						<a href="@routes.Product.showLowStock(10)">Product show products low on stock</a></br>
						<br>
						<a href="@routes.Category.editCategory">Category edit</a></br>
						<a href="@routes.Category.showAllCategories">Category show all</a></br>
						<br>
						<a href="@routes.ShoppingCart.showContents">Shoppingcart get contents</a></br>
						<br>
						<a href="@routes.Order.editContents">Order edit</a></br>
						<a href="@routes.Order.showAllOrders">Order show all</a></br>
						<br>
						<a href="@routes.Checkout.doCheckout">Checkout</a></br>
						</small>
					</div>
					
	     	   		<div style="width: 800px; margin-left: 20px; padding: 10px; background-color: lightGrey; float:left; text-align: center;">@content</div>
    	
	</body>
</html>