@(message: String)
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="@routes.Assets.at("main.min.css")">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<title>@message</title>
	</head>
	<body class="less">
		<div class="bs-example">
    		<div class="alert alert-danger alert-error">
     	   	<div class="container">
			<title>@message</title>
			<h1> @message </h1>
			<h2>  1. apple - round fruit - 200kr</h2>
			<h2>  2. Bike - a hike bike - 199 000kr</h2>
			<h2>  etc</h2>