@(order: model.OrderModel)
@index("order " + order.getId()) {
			<h4>Order #@order.getId() <br/>by 
			<a href="@routes.User.showUser(order.getUser())">@order.getUser()</a> </h4>
			<h5>at @order.getDate()</h5>
			<small>Contents:<br/>
			@for(content <- order.getContents())			{
				 <a href="@routes.Product.showProductById(controllers.Product.getProduct(content._1).getId())">
					 @controllers.Product.getProduct(content._1).getName()
				 </a> 
				 - @controllers.Product.getProduct(content._1).getCost()$<br/>
			}
			</small>
}