@(user: List[model.UserModel])(product: List[model.ProductModel])(orders: List[model.OrderModel])(category: List[model.CategoryModel])
@index("populated") {
	OK! <br/>
	<hr/>
	<b>Users added: </b><br/>
	@for(us <- user){
		@us<br/><small></small><br/>
	}
	<hr/>
	<b>Products added:</b> <br/>
	@for(prod <- product){
		@prod<br/><small></small><br/>
	}

	
	<hr/>
	<b>Orders added: </b><br/>
	@for(order <- orders){
		<h4><a href="@routes.User.showUser(order.getUser())">@order.getUser()</a></h4>
		<a href="@routes.Order.showContents(order.getId())">@order.getId()
		<small>@order.getDate()</small><br/></a>

	}
	<br/>
	<b>Orders added:</b> <br/>
	@for(order <- orders){
		@order<br/><small></small><br/>
	}

	<hr/>
	<b>Categories added:</b> <br/>
	@for(cat <- category){
		@cat<br/><small></small><br/>
	}
	<hr/>
}